<ion-header>
  <ion-navbar>
    <ion-title (click)="enableDebugMode()">{{'connect.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="devices">
    <div *ngIf="devices.length">
      <h2>{{'connect.connect' | translate}}</h2>
      <p>{{'connect.selectToConnect' | translate}}</p>
      <ion-list>
        <button *ngFor="let device of devices" ion-item  detail-push (click)="connect(device)">
          {{device.name}}<br />
          <small>{{device.id}}</small>
        </button>
      </ion-list>
    </div>
    <div *ngIf="!devices.length">
      <h2>{{'connect.noDevices' | translate}}</h2>
      <p>{{'connect.pairFirst' | translate}}</p>
    </div>
  </div>
  <button ion-button full icon-start color="light" (click)="openSettings()"><ion-icon name="bluetooth"></ion-icon> {{'connect.openSettings' | translate}}</button>
  <button ion-button full icon-start color="primary" (click)="loadDevices()"><ion-icon name="refresh"></ion-icon> {{'connect.refresh' | translate}}</button>
</ion-content>
