<ion-header>
  <ion-navbar>
    <ion-title>SnowHeight</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full color="primary" (click)="loadDevices()">Refresh devices</button>
  <ion-label>Paired devices:</ion-label>
  <div *ngIf="devices">
    <div *ngIf="devices.length">
      <h2>Select device</h2>
      <ion-list>
        <button *ngFor="let device of devices" ion-item  detail-push (click)="connect(device)">
          {{device.name}}<br />
          <small>{{device.id}}</small>
        </button>
      </ion-list>
    </div>
    <div *ngIf="!devices.length">
      <h2>No devices found</h2>
    </div>
  </div>
</ion-content>
