<ion-header>

  <ion-navbar>
    <ion-title>{{'configure.title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>{{name}}</h2>

  <ion-list>
    <ion-item>
      {{'configure.status' | translate}}
      <ion-note item-end class="text-success">
        {{'configure.connected' | translate}}
      </ion-note>
    </ion-item>
    <ion-item>
      {{'configure.time' | translate}}
      <ion-note item-end *ngIf="synchronizingTime">
        {{'configure.synchronizing' | translate}} <ion-spinner name="crescent"></ion-spinner>
      </ion-note>
      <ion-note item-end class="text-success" *ngIf="!synchronizingTime && synchronizeSuccess">
        {{'configure.synchronized' | translate}}
      </ion-note>
      <ion-note item-end class="text-error" *ngIf="!synchronizingTime && !synchronizeSuccess">
        {{'configure.synchronizeError' | translate}}
      </ion-note>
    </ion-item>
  </ion-list>

  <button ion-button color="danger" full (click)="disconnect()">
    <ion-icon icon="close"></ion-icon>
    {{'configure.disconnect' | translate}}
  </button>

  <button ion-button full color="primary" (click)="openSettings()">{{'configure.settings' | translate}}
  </button>
  <hr/>

  <h3>{{'configure.data' | translate}}</h3>
  <button ion-button full color="primary" (click)="loadGeneralData()">{{'configure.loadGeneralData' | translate}}
  </button>
  <button ion-button full color="primary" (click)="loadLaserData()">{{'configure.loadLaserData' | translate}}</button>
  <button ion-button full color="primary" (click)="loadErrorLogs()">{{'configure.loadErrorLogs' | translate}}</button>
</ion-content>
