<ion-header>
  <ion-navbar>
    <ion-title>{{'settings.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="config && settings">
  <h3 padding>{{'settings.settings' | translate}}</h3>
  <ion-card *ngFor="let setting of settings">

    <ion-card-header>
      {{setting.name}}
    </ion-card-header>

    <ion-card-content>
      <p>{{'settings.settingDescription' + setting.name | translate}}</p>
      <ion-item>
        <ion-label floating>{{setting.name}}</ion-label>
        <ion-input *ngIf="setting.type == SettingType.NUMBER" type="number" placeholder="{{setting.name}}"
                   [(ngModel)]="config[setting.name]"></ion-input>
        <ion-input *ngIf="setting.type == SettingType.STRING" type="text" placeholder="{{setting.name}}"
                   [(ngModel)]="config[setting.name]"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div padding>
    <button ion-button full color="secondary" (click)="saveConfig()">{{'settings.saveSettings' | translate}}</button>
  </div>
</ion-content>
